<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <% @rankings.each do |ranking| %>
    <div class="content_post" style="background-image: url(<%= ranking.image %>);">
      <p><%= rankng.text %></p>
      <span class="name"><%= ranking.name %></span>
    </div>
  <% end %>
</div>