$star-width: 36px; //星のサイズ

.star{
  &-rating{
    position: relative;
    font-size: $star-width; //星の大きさ.変数で指定
    &::before, &::after{
      content: "★★★★★";
      color: #e1e1e1;   //グレー
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after{
      color: #ffb448;  //黄色
      overflow: hidden;
    }
  }
}

//レーティングの間隔.1~5まで0.5刻み.
@for $i from 0 through 10 {
  .star-rating[data-rate="#{$i * 0.1}"]::after{
    width: $i * 0.5 * $star-width;
  }
}


/*==================================================
ギャラリーのためのcss
===================================*/
.gallery {
    columns: 4;
    /*段組みの数*/
    padding: 0 15px;
    /*ギャラリー左右に余白をつける*/
}

.gallery li {
    margin-bottom: 20px;
    /*各画像下に余白をつける*/
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    /*画像の下にできる余白を削除*/
}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
    .gallery {
        columns: 3;
    }
}

@media only screen and (max-width: 768px) {
    .gallery {
        columns: 2;
    }
}


/*========= レイアウトのためのCSS ===============*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 6vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 30px 0;
}

p {
    margin: 0 10px 10px 10px;
    word-wrap: break-word;
}

/*画像を出現させるアニメーションCSS*/

.flipLeft {
    animation-name: flipLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    perspective-origin: left center;
    opacity: 0;
}

@keyframes flipLeft {
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
        opacity: 0;
    }

    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}

/* メニュー */

nav {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background: #e4dad6;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 2;
    opacity: 0;
}

.open nav {
    right: 0;
    opacity: 1;
}

nav .inner {
    position: relative;
    top: 60px;
    padding: 25px;
}

nav .inner ul {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
}

nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #fff;
}

nav .inner ul li a {
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
}

nav .inner ul li a:hover {
    background: #e1d5d5;
}

@media screen and (max-width: 767px) {
    nav {
        right: -220px;
        width: 220px;
    }
}
/*==================================================
　5-2-8 3本線が横方向に回転して×に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn8{
  position: fixed;/*ボタン内側の基点となるためrelativeを指定*/
    display: block;
  background:#e4dad6;
  cursor: pointer;
    top: 50px;
    right: 50px;
    width: 50px;
    height:50px;
  border-radius: 5px;   
    z-index: 3;
}

/*ボタン内側*/
.openbtn8 .openbtn-area{
    
    transition: all .6s;/*アニメーションの設定*/
  width:50px;
  height:50px;
}

.openbtn8 span{

    display: block;
    transition: all .4s;
    position: absolute;
    
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background: #fff;
    width: 45%;
  }

.openbtn8 span:nth-of-type(1) {
  top:15px; 
}

.openbtn8 span:nth-of-type(2) {
  top:23px;
}

.openbtn8 span:nth-of-type(3) {
  top:31px;
}

/*activeクラスが付与されると .openbtn-areaが360度回転し/その中の線が回転して×に*/
.openbtn8.active .openbtn-area{
  transform: rotate(360deg);
}

.openbtn8.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn8.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn8.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


/*========= レイアウトのためのCSS ===============*/

body{
  background:#f3f3f3;
    padding:20px;
}


a{
  color: #333;
  text-decoration: none;
}

.lead{
  margin:20px 0 0 0;
}

.btn-block{
  width:200px;  
  padding: 30px;
}


////////////////////////////////


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #b3aca7;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}