$star-width: 36px; //星のサイズ

.star{
  &-rating{
    position: relative;
    font-size: $star-width; //星の大きさ.変数で指定
    &::before, &::after{
      content: "★★★★★";
      color: #e1e1e1;   //グレー
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after{
      color: #ffb448;  //黄色
      overflow: hidden;
    }
  }
}

//レーティングの間隔.1~5まで0.5刻み.
@for $i from 0 through 10 {
  .star-rating[data-rate="#{$i * 0.1}"]::after{
    width: $i * 0.5 * $star-width;
  }
}


/*==================================================
ギャラリーのためのcss
===================================*/
.gallery {
    columns: 4;
    /*段組みの数*/
    padding: 0 15px;
    /*ギャラリー左右に余白をつける*/
}

.gallery li {
    margin-bottom: 20px;
    /*各画像下に余白をつける*/
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    /*画像の下にできる余白を削除*/
}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
    .gallery {
        columns: 3;
    }
}

@media only screen and (max-width: 768px) {
    .gallery {
        columns: 2;
    }
}


/*========= レイアウトのためのCSS ===============*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 6vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 30px 0;
}

p {
    margin: 0 10px 10px 10px;
    word-wrap: break-word;
}

/*画像を出現させるアニメーションCSS*/

.flipLeft {
    animation-name: flipLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    perspective-origin: left center;
    opacity: 0;
}

@keyframes flipLeft {
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
        opacity: 0;
    }

    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}

/* メニュー */

nav {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background: #e4dad6;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 2;
    opacity: 0;
}

.open nav {
    right: 0;
    opacity: 1;
}

nav .inner {
    position: relative;
    top: 60px;
    padding: 25px;
}

nav .inner ul {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
}

nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #fff;
}

nav .inner ul li a {
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
}

nav .inner ul li a:hover {
    background: #e1d5d5;
}

@media screen and (max-width: 767px) {
    nav {
        right: -220px;
        width: 220px;
    }
}
/*==================================================
　5-2-8 3本線が横方向に回転して×に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn8{
  position: fixed;/*ボタン内側の基点となるためrelativeを指定*/
    display: block;
  background:#e4dad6;
  cursor: pointer;
    top: 50px;
    right: 50px;
    width: 50px;
    height:50px;
  border-radius: 5px;   
    z-index: 3;
}

/*ボタン内側*/
.openbtn8 .openbtn-area{
    
    transition: all .6s;/*アニメーションの設定*/
  width:50px;
  height:50px;
}

.openbtn8 span{

    display: block;
    transition: all .4s;
    position: absolute;
    
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background: #fff;
    width: 45%;
  }

.openbtn8 span:nth-of-type(1) {
  top:15px; 
}

.openbtn8 span:nth-of-type(2) {
  top:23px;
}

.openbtn8 span:nth-of-type(3) {
  top:31px;
}

/*activeクラスが付与されると .openbtn-areaが360度回転し/その中の線が回転して×に*/
.openbtn8.active .openbtn-area{
  transform: rotate(360deg);
}

.openbtn8.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn8.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn8.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


/*========= レイアウトのためのCSS ===============*/

body{
  background:#f3f3f3;
    padding:20px;
}


a{
  color: #333;
  text-decoration: none;
}

.lead{
  margin:20px 0 0 0;
}

.btn-block{
  width:200px;  
  padding: 30px;
}

//Created by Dave Lunny in the beautiful year of 2014


//////////////////////////////////////
//        Import(ant) Imports       //
//////////////////////////////////////

//  Grab Roboto (Shutup I like it, you can change it if you like)
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

//  Grab Font-Awesome, which is actually better to grab from the HTML so imma do that
// @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/////////////////////////////////////


//////////////////////////////////////
//             CONFIG              //
////////////////////////////////////

//  Pick a primary color
@primary-color: #f1a6f3;
//  Set the color of the icons
@icon-color: #aaa;
//  For whatever reason the placeholder color is a variable so you can change it here
@pholder-color: #ccc;

//  Dope colors (not required):
@blue: #0ac;
@red: #f66;
@amber: #ffc107;
@blueGrey: #607d8b;
@lightGreen: #8bc34a;
@offBlack: #333;

//  Font Stack (mmm Roboto)
@font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//  The width of the form (takes on 100% this is just the max width)
@form-width: 380px;

//  WOW this is the scale of the inner elements
@base: 15.5px;

//        Standard ratio:   
//          22.5 : 15
//     (@form-width : @base)

/////////////////////////////////////


////////////////////////////////////
//    CSS TRANSITION MIXIN       //
//  (super overdone but dope!)  //
/////////////////////////////////

.trans(@prop, @speed) {
  -webkit-transition: @prop @speed ease;
  -moz-transition: @prop @speed ease;
  -o-transition: @prop @speed ease;
  transition: @prop @speed ease;
}


/////////////////////////////////////


form.contact-form {

  width: 100%;
  max-width: @form-width;
  margin: 10px auto;
  font-size: @base;
  font-family: @font;
  font-weight: 100;
  line-height: @base * 1.618;
  letter-spacing: -0.5px;

  .trans(box-shadow, 0.4s);
  box-shadow: 0px 2px 10px #eee;

  &:hover {
    box-shadow: 0px 4px 14px #ddd,
      0px 0px 6px lighten(@primary-color, 25%);
  }

  span {
    text-align: center;
    display: block;
    color: #333;
    padding: (@base * 1.25) (@base * 1.25) (@base * 0.5);
    font: inherit;
    font-size: @base * 1.618;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0;
      border-bottom: 1px solid #ddd;
      margin: 0;
      text-align: center;
      width: 100%;


      i.form-icon {
        display: inline-block;
        vertical-align: middle;
        width: 2%;
        text-align: center;
        margin: 0 0.5% 0 1%;
        padding: 0;
        font-size: @base * 1.05;
        color: #aaa;
      }

      input[type="text"] {
        width: 90%;
        background: none;
        margin: 0;
        padding: (@base * 0.6666667) 2%;
        border: 0;

        border-bottom: 3px solid rgba(0, 0, 0, 0);

        text-align: left;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;


        .trans(border-bottom, 0.35s);

        &:focus {
          outline: none;
          border-bottom: 3px solid @primary-color;
        }

        &::-webkit-input-placeholder {
          .trans(color, 0.35s);
          color: @pholder-color;
        }

        &:-moz-placeholder {
          .trans(color, 0.35s);
          color: @pholder-color;
        }

        &::-moz-placeholder {
          .trans(color, 0.35s);
          color: @pholder-color;
        }

        &:-ms-input-placeholder {
          .trans(color, 0.35s);
          color: @pholder-color;
        }

        &:focus::-webkit-input-placeholder {
          color: @primary-color;
        }

        &:focus:-moz-placeholder {
          color: @primary-color;
        }

        &:focus::-moz-placeholder {
          color: @primary-color;
        }

        &:focus:-ms-input-placeholder {
          color: @primary-color;
        }
      }

      textarea {
        display: inline-block;
        vertical-align: top;
        width: 88%;
        background: none;
        padding: (@base * 0.6666667) 2%;
        resize: none;
        border: 0;
        border-bottom: 3px solid rgba(0, 0, 0, 0);


        text-align: left;

        height: auto;
        min-height: @form-width * 0.35;

        margin: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;


        .trans(border-bottom, 0.35s);

        &:focus {
          outline: none;
          border-bottom: 3px solid @primary-color;
        }

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background: lighten(@primary-color, 20%);
          border-radius: 2px;
        }

        &::-webkit-input-placeholder {
          .trans(color, 0.35s);
          color: @pholder-color;
        }

        &:-moz-placeholder {
          .trans(color, 0.35s);
          color: @pholder-color;
        }

        &::-moz-placeholder {
          .trans(color, 0.35s);
          color: @pholder-color;
        }

        &:-ms-input-placeholder {
          .trans(color, 0.35s);
          color: @pholder-color;
        }

        &:focus::-webkit-input-placeholder {
          color: @primary-color;
        }

        &:focus:-moz-placeholder {
          color: @primary-color;
        }

        &:focus::-moz-placeholder {
          color: @primary-color;
        }

        &:focus:-ms-input-placeholder {
          color: @primary-color;
        }

      }

      input[type="submit"] {
        margin: 15px auto 15px;
        padding: (@base * 0.6666667) (@base * 1.25);
        border: 1px solid darken(#ddd, 5%);
        display: inline-block;

        border-radius: 6px;

        background: rgba(255, 255, 255, 0);
        font-weight: inherit;
        font-family: inherit;
        font-size: inherit;


        .trans(background border, 0.35s);

        &:focus {
          outline: none;
          border: 1px solid @primary-color;
        }

        &:hover {
          background: lighten(#ddd, 5%);
          border: 1px solid @primary-color;
        }

        &:active {
          background: darken(#ddd, 5%);
        }
      }
    }
  }
}
